{% extends 'base.html.twig' %}

{% block title %}Modifier son profil{% endblock %}

{% block body %}
    <h1>Update User</h1>

    {{ form_start(form) }}
    <button type="submit">Update</button>
    {{ form_end(form) }}
{% endblock %}
