{% extends 'base.html.twig' %}

{% block title %}Modifier son profil{% endblock %}

{% block body %}

<div class="f-profile">
    <div class="f-head">
        <h1>Mon profil</h1>
    </div>

    {{ form_start(form) }}

    <div class="f-button-container">
        <a class="f-button f-button-secondary" href="{{ path('app_profil_own') }}">Annuler</a>
        <button class="f-button" type="submit">Enregistrer</button>
    </div>
    {{ form_end(form) }}

</div>

{% endblock %}
