{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Sortir Admin Dashboard{% endblock %}

{% block main %}
    <table class="datagrid">
        <thead>
        <tr>
            <td>Some Column</td>
            <td>Another Column</td>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
{% endblock %}