{% extends 'base.html.twig' %}

{% block title %}Modifier une sortie{% endblock %}

{% block body %}
    <div class="f-form">
        <div class="f-head">
            <h1>Modifier une sortie</h1>
        </div>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="f-button-container">
            <a class="f-button f-button-secondary" href="{{ path('app_sortie_index') }}">Annuler</a>
            <button class="f-button" type="submit">Modifier</button>
        </div>
        {{ form_end(form) }}

    </div>
{% endblock %}
