@tailwind base;
@tailwind components;
@tailwind utilities;

$font-family-sans-serif: Arial, Helvetica, sans-serif;
$primary-color: #16a34a;//green 600
$primary-color-hover: #15803d;//green 700
$secondary-color: #94a3b8;//slate 400
$secondary-color-hover: #64748b;//slate 500
$dark: #020617;//slate 950
$light: #f1f5f9;//slate 100
$lightgrey: #cbd5e1;//slate 300


.f-form {
  margin: 1em auto;
  width: min(95%, 500px);
  font: 18px/1.5 $font-family-sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .f-inline {
    display: inline-flex;
    place-content: space-between;
    align-items: center;
  }

  .f-head {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    font-size: 25px;
    margin: 10px;
  }

  img {
    display: block;
    max-height: 250px;
    object-fit: contain;
  }

  .f-button-container {
    margin: 20px;
    order: 50; //Pour s'assurer qu'il soit à la fin
    display: inline-flex;
    place-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  .f-sublink {
    order: 49;
    display: inline-flex;
    place-content: space-between;
    align-items: center;
    width: 100%;
    a:hover {
      text-decoration: underline;
      transition-delay: 10ms;
      transition-duration: 100ms;
      transition-timing-function: linear;
    }
  }
}
form[name="profile_edit_form"],form[name="lieu"],form[name="ville"],form[name="sortie"] > div:not(.f-button-container):not(.f-sublink){
  display:flex;
  flex-direction: column;
  gap:5px;
  > div{
    display: inline-flex;
    place-content: space-between;
    align-items: center;
  }
  input[type=text],input[type=email],input[type=password],textarea,input[type=number]{
    outline: none;
    padding: 8px;
    border-radius: 5px;
    background-color: $light;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 2px;
    border-color: $dark;
    min-width: fit-content;
    text-overflow: ellipsis;
    &:focus{
      outline: none;
      background-color: $lightgrey;
    }
  }
  select {
    appearance: auto;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    background-color: $light;
    border-width: 2px;
    border-color: $dark;
    width: fit-content;
    max-width: 236px;
    cursor: pointer;
    text-overflow: ellipsis;
    &:focus {
      outline: none;
      border-color: $lightgrey;
    }
  }
  #sortie_organisateur,label[for="sortie_organisateur"]{
    display: none;
  }
}

.f-button{
  outline: none;
  padding: 8px;
  border-radius: 5px;
  background-color: $primary-color;
  color: $light;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-color: $dark;
  transition: linear 50ms;
  font-size: 20px;
  &:hover{
    background-color: $primary-color-hover;
  }
  &:not(:disabled){
    cursor:pointer;
  }
  &:disabled{
    cursor: not-allowed;
  }
}
.f-button-secondary{
  background-color: $secondary-color;
  &:hover{
    background-color: $secondary-color-hover;
  }
}

@media (max-width: 767px) {//mobile
  form[name="profile_edit_form"],form[name="lieu"],form[name="ville"],form[name="sortie"] > div:not(.f-button-container):not(.f-sublink){
    > div{
      display: flex;
      flex-direction: column;
      align-items: inherit;
    }
    select{
      width: fit-content;
      max-width: 100%;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {//Tablette & small desk

}

@media (min-width: 992px) and (max-width: 1199px) {//Desk Normal

}

@media (min-width: 1200px) {//Large

}